# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Angular cache
/.angular/cache

# IDEs and editors
.vscode/
.idea/
.history/

# Coverage
/coverage

# System files
.DS_Store
Thumbs.db

# Playwright
/test-results
/playwright-report
/playwright/.cache

# Environment files
.env
.env.local
.env.development
.env.production